body{
  margin:0;
	background-color:#297A4A;
}

.header{
  width:100%;
  height:75px;
  background-color:#297A4A;
}

.body{
  width:100%;
  background-color:#297A4A;
}

.footer{
  width:100%;
}

.in{
  font-size:20px;
  height:40px;
  margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
  display:block;
  outline:none;
  width:75%;
  border-radius:5px;
  font-family: 'Source Code Pro';
  border:none;
}

.incushion{
  width:100%;
  height:15px;
}

.extra{
  background-color:lightgrey;
  margin:30px;
}

.other{
  background-color:white;
}

.chat-container{
  width:510px;
  height:180px;
  background-color:white;
	font-family:"source code pro";
	text-align:center;
	font-size:30px;
	display:block;
	overflow-y:scroll;
}

.type-message{
  outline:none;
  width:350px;
}

.sendholder{
  max-width:100%;
  width:510px;
  font-family:"source code pro";
  font-size:15px;
}

button{
  outline:none;
  border-radius:none;
  border:none;
  color:white;
  margin-top:1px;
  height:30px;
  width:140px;
  float:right;
  background-color:#AA4F39;
}

button:hover{
  background-color:#BD2F0E;
}

.message{
  min-height:20px;
  border:1px solid lightgrey;
  margin:5px;
  display:inline-flex;
	font-size:15px;
	width:500px;
}

.name{
  max-width:20%;
  display:block;
  top:50%;
  text-align:center;
  position:relavtive;
  vertical-align:center;
  padding:10px
}

.message-text{
  min-width:80%;
  max-width:89%;
  display:block;
}