body{
  margin:0;
	background-color:white;
}

.header{
  width:100%;
  height:75px;
  background-color:white;
}

.body{
  width:100%;
  background-color:white;
  margin-top: 30px;
}

.footer{
  width:100%;
}

.in{
  font-size:20px;
  height:40px;
  margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
  display:block;
  outline:none;
  width:75%;
  border-radius:5px;
/*  font-family: 'Source Code Pro';*/
  border:none;
  background: whitesmoke;
}

.incushion{
  width:100%;
  height:15px;
}

.extra{
  background-color:lightgrey;
  margin:30px;
	height:283px;
}

.other{
  background-color:white;
}

.chat-container{
  width:310px;
  height:467.5px;
  background-color:white;
/*	font-family:"source code pro";*/
	text-align:center;
	font-size:30px;
	display:block;
	overflow-y:scroll;
  cursor:default;
  border-radius: 0;
  border-top-right-radius:5px;
  border-top-left-radius: 5px;
}

.type-message{
  outline:none;
  border: 1px solid #FD7057;
  width: 230px;
  height: 100%;
  border-bottom-left-radius: 5px;
}

.sendholder{
  max-width:100%;
  width:310px;
/*  font-family:"source code pro";*/
  font-size:15px;
}

button{
  outline:none;
  border:none;
  color:white;
  height: 100%;
  width: 80px;
  float:right;
  background-color:#FD7057;
  border-bottom-right-radius: 5px;
}

button:hover{
  background-color:rgb(250, 93, 65);
}

.message{
  min-height:20px;
  border:1px solid lightgrey;
  margin:5px;
	font-size:15px;
	width:300px;
  text-align:left;
  border-radius: 5px;
}

.name{
  max-width:90%;
  padding-right:10px;
  padding-left:10px;
	word-wrap:break-word;
	font-size:10px;
}

.message-text{
  min-width:80%;
  max-width:89%;
  display:block;
	padding:0px 10px 5px 5px;
  overflow-wrap:break-word;
  border-radius: 5px;
  margin-left: 5px;
}

.rap{
	height:283px;
}

.dash{
	width: auto;
	display:inline-block;
}

.new{
	background-color:#27566B;
	color:white;
}

.new:hover{
	background-color:#27566B;
}

.mine{
	text-align:right;
	background-color:#ECECEC;
}

.message-image{
	width:98%;
}

.nameheader {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: larger;
}

.orange-wrap {
  height: 30px;
}